.person_name{
    padding: 2rem 0 0 2rem;
}

.rewardgif{
    width: 10rem;
    background-color: transparent;
    margin-left: 45%;
}

.tab_div{
    margin: 2rem 0;
    padding: 0rem 5rem;
}

.instruct{
    text-align: center;
    margin: 5rem 0 10rem 0;
}

.rewardtext{
    text-align: center;
    margin-top: 1rem;
}

.color_div{
    background-color: #f5f5f5;
    width: 90%;
}