.background {
  background-image: url("../../images/bgpic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 40vh;
  background-position: center;
  opacity: 0.9;
}

.heading h2{
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  color: lightcyan;
  padding-top: 120px;
}

.heading p{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: lightcyan;
  font-style: italic;
}

.side-nav-container{
  padding-top: 20px;
  padding-left: 30px;
  width: 98%;
}

.tab-board {
  padding: 2rem 1rem;
  background-color: rgb(220, 234, 246);
}

.nav-item{
  color: rgb(215, 219, 222);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  width: 180px;
}

.nav-link {
  color: rgb(19, 14, 107);
}

.nav-item :hover{
  color: rgb(97, 92, 148);
}

.tab-content {
  margin-left: -130px;
}
