.admin_form_button_div{
    text-align: right;
}

.admin_form_button{
    padding: 0.5rem 2.8rem;
}

.container {
  margin-left: -10px;
  margin-top: 20px;
  width: 100%;
  min-height: 60vh;
  overflow-x: auto;
}

.thead {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table .thead-light{
  white-space: nowrap;
  background-color: #529ebd;
  min-height: 20vh;
  color: #d9e3ec;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
}

.thead-light tr th:nth-child(1){
  min-width: 70px;
}

.thead-light tr th:nth-child(2){
  min-width: 100px;
}

.thead-light tr th:nth-child(3){
  min-width: 100px;
}

.table tbody tr:hover{
  background: #b4c6ce;
}

.deleteIcon {
  margin-left: 12px;
  transition: 0.21s ease-in-out;
  cursor: pointer;
  color: darkgray;
}

.editIcon {
  transition: 0.21s ease-in-out;
  cursor: pointer;
  color: darkgray;
}

.package-form {
  height: 500px;
}